
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trackdéchets OAuth2 example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div id="home">
      <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title"> Bienvenue sur Waste Manager®</h1>
            <h2 class="subtitle">Simplifier la gestion de vos déchets</h2>
            <form action="/auth/trackdechets" method="GET">
              <button type="submit" class="button is-info">Se Connecter avec Trackdéchets</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>


